<%- include('includes/head'); %>
  <%- include('includes/nav'); %>


    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
          <h1 class="text-center">Lugares para visitarmos</h1>
          
          <%- include('includes/messages'); %>
          <% if(lugares.length> 0) { %>
            <p class="text-center lead">Nossos passeios estão abaixo:</p>
              <div class="responsive-table">
                <table class="table my-3">
                  <thead>
                    <th>Nome</th>
                    <th>Comentário</th>
                    <th colspan="2">Ações</th>
                  </thead>
                  <tbody>
                    <% lugares.forEach((lugar)=> { %>
                      <tr>
                        <td>
                          <%= lugar.name %>
                        </td>
                        <td>
                          <%= lugar.comment %>
                        </td>
                        <td><a href="/place/<%= lugar._id %>">Editar</a></td>
                        <td><a class="text-danger" href="/place/delete/<%= lugar._id %>">Excluir</a></td>
                      </tr>
                      <% }); %>
                  </tbody>
                </table>
              </div>
              <% } else { %>
                <p class="text-center lead">Não há lugares cadastrados.</p>
              <% } %>
        </div>

        <div class="col-lg-2"></div>
      </div>
    </div>


    <%- include('includes/footer'); %>