<%- include('includes/head'); %>
  <%- include('includes/nav'); %>


  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>

      <div class="col-lg-8 my-3">
        <h1 class="text-center">Cadastre-se</h1>
        <p class="text-center my-4">Preencha o formulário com seus dados:</p>

        <%- include('includes/messages'); %>

        <form class="signup-form" action="/signup/register" method="POST">
          <input type="hidden" name="_csrf" value=<%= csrfToken %>>
          <div class="form-group">
            <label for="input-email">Seu melhor e-mail</label>
            <input type="email" class="form-control" id="input-email" aria-describedby="emailHelp"
            placeholder="exemplo@exemplo.com" name="email">
          </div>
          <div class="form-group">
            <label for="input-password">Sua melhor senha</label>
            <input type="password" class="form-control" id="input-password" placeholder="Senha" name="password">
          </div>
          <button type="submit" class="btn btn-primary">Criar minha conta</button>
        </form>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>


    <%- include('includes/footer'); %>